@model DevelopmentChecklist.Models.Application

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Application</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AppID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
